.effect {
  display: inline-block;
  text-align: center;

  &__header {
    display: block;
    margin: 40px auto 0;
  }

  &__content {
    display: block;
    margin: 30px auto 50px;

    &--left {
    text-align: left;
    }
  }
}


