.test {
  display: block;
  text-align: center;

  &__test-header {
    display: block;
    margin: 40px auto 0;
  }

  &__test-content {
    display: inline-block;
    max-width: 320px;
    margin: 20px auto 0;
  }

  &__test-footer {
    display: block;
    margin: 0 auto 30px;
  }

  @media only screen and (min-width: $viewport-sm) {

    &__test-content {
      max-width: 350px;
    }
  }

  @media only screen and (min-width: $viewport-md) {

    &__test-content {
      max-width: 380px;
    }
  }
}
