@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  background-color: $white;
  font-family: $basefont;
}

.clearfix {
  &::before {
    display: table;
    content: "";
  }

  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

.container {
  max-width: 100%;
  margin: 0 auto;

  @media screen and (min-width: $viewport-lg) {
    width: 768px;
  }

  @media screen and (min-width: $viewport-xl) {
    width: 900px;
  }
}

.header {
  background: url(images/header-photo.png) no-repeat center / cover;
  width: 100%; 
}

.gray {
  background-color: $gray;
  width: 100%;
}

.blue {
  background-color: $blue;
  width: 100%;
}



