$viewport-xs: 0;
$viewport-sm: 375px;
$viewport-md: 768px;
$viewport-lg: 1024px;
$viewport-xl: 1366px;


$white: #fff;
$black: #000;
$gray: #fafafa;
$red: #ff203d;
$red-ab: #ab1327;
$red-ec: #ec6072;
$black-31: #313131;
$blue: #00649b;



$basefont: 'PT Sans', sans-serif;
