// определяешь переменные, на которых твое приложение будет менять экран - брейкпоинты адаптива
$viewport-md: 1024px;

// все цвета кладешь в переменные, градации серого описываются как $gray-c8: #c8c8c8; их всегда много
$white: #fff;

//шрифты описываются сперва основной твой потом запасные системные - гельветика для маков и ариал для винды
$basefont: "Open Sans", "Helvetica", "Arial", sans-serif;
